<div>
    <h2>Login</h2>
    <p>Please login to start your session</p>
    <form #loginForm="ngForm" class="form-group">
        <label for="abc">Username</label>
        <input class="form-control" type="text" placeholder="Username" [(ngModel)]="user.username" name="username" required
            #username="ngModel">
        <div *ngIf="!username.valid && username.dirty" class="danger">
            required field*
        </div>
        <label for="password">Password</label>
        <input class="form-control" type="password" placeholder="Password" [(ngModel)]="user.password" name="password"
            required #password="ngModel">
        <div class="danger" [hidden]="password.valid || password.pristine">
            required field*
        </div>
        <br>
        <button [disabled]="!loginForm.valid" [hidden]="submitting" (click)="login()"
            class="btn btn-primary">login</button>
        <button [hidden]="!submitting" class="btn btn-info">loging in...</button>
    </form>
    <p>Don't have an account?</p>
    <p>click<a [routerLink]="['/auth/register']"> here</a> to register</p>
    <p><a routerLink="/auth/forgot-password">forgot password?</a></p>
</div>

<!-- template variable== any word with #prefix in template is template variable which can be accessed wihin template-->

<!-- state of form and form element -->
<!-- valid invalid -->
<!-- pristine dirty -->
<!-- touched untouched -->