<div>
    <h2>Add Product</h2>
    <p>Please enter all required fields</p>
    <form class="form-group" #form="ngForm">
        <label for="name">name</label>
        <input class="form-control" type="text" placeholder="name" name="name" [(ngModel)]="product.name" required>
        <label for="description">description</label>
        <input class="form-control" type="text" placeholder="description" name="description"
            [(ngModel)]="product.description">
        <label for="brand">brand</label>
        <input class="form-control" type="text" placeholder="brand" name="brand" [(ngModel)]="product.brand">
        <label for="category">category</label>
        <input class="form-control" type="text" placeholder="category" name="category" [(ngModel)]="product.category"
            required>
        <label for="color">color</label>
        <input class="form-control" type="text" placeholder="color" name="color" [(ngModel)]="product.color">
        <label for="price">price</label>
        <input class="form-control" type="text" placeholder="price" name="price" [(ngModel)]="product.price">
        <label for="model">model</label>
        <input class="form-control" type="text" placeholder="model" name="model" [(ngModel)]="product.model">
        <label for="weight">weight</label>
        <input class="form-control" type="text" placeholder="weight" name="weight" [(ngModel)]="product.weight">
        <label for="manuDate">Manu Date</label>
        <input class="form-control" type="text" placeholder="manuDate" name="manuDate" [(ngModel)]="product.manuDate">
        <label for="expiryDate">Expiry Date</label>
        <input class="form-control" type="text" placeholder="expiryDate" name="expiryDate"
            [(ngModel)]="product.expiryDate">
        <label for="tags">tags</label>
        <input class="form-control" type="text" placeholder="tags" name="tags" [(ngModel)]="product.tags">
        <!-- <label for="discountedItem">discountedItem</label> -->
        <input type="checkbox" name="discountedItem" [(ngModel)]="product.discountedItem">
        Discounted Item
        <div *ngIf="product.discountedItem">
            <label for="discountType">discountType</label>
            <input class="form-control" type="text" placeholder="discountType" name="discountType"
                [(ngModel)]="product.discountType">
            <label for="discount">discount</label>
            <input class="form-control" type="text" placeholder="discount" name="discount"
                [(ngModel)]="product.discount">
        </div>
        <br>
        <input type="checkbox" name="warrentyStatus" [(ngModel)]="product.warrentyStatus"> Warrenty
        Status
        <div *ngIf="product.warrentyStatus">
            <label for="warrentyPeroid">warrentyPeroid</label>
            <input class="form-control" type="text" placeholder="warrentyPeroid" name="warrentyPeroid"
                [(ngModel)]="product.warrentyPeroid">
        </div>
        <input class="form-control" type="file" (change)="fileChanged($event)" name="image">
        <br>
        <button [disabled]="!form.valid" *ngIf="!submitting" class="btn btn-primary" (click)="submit()">submit</button>
        <button disabled *ngIf="submitting" class="btn btn-info">submitting...</button>

    </form>
</div>