<h2>View Products</h2>
<button *ngIf="inputData" (click)="searchAgain()" class="btn btn-success">search again</button>
<div *ngIf="isLoading">
    <app-loader></app-loader>
</div>
<table class="table" *ngIf="!isLoading">
    <thead>
        <th>S.N</th>
        <th>Name</th>
        <th>Category</th>
        <th>Created Date</th>
        <th>Created Time</th>
        <th>Price</th>
        <th>Image</th>
        <th *ngIf="!inputData">Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of products;let i= index;">
            <td>{{i+1}}</td>
            <td>{{product.name | uppercase}}</td>
            <td>{{product.category}}</td>
            <td>{{product.createdAt | date:'fullDate'}}</td>
            <td>{{product.createdAt | date:'hh:mm a'}}</td>
            <td *ngIf="product.price">{{product.price}}</td>
            <td *ngIf="!product.price">N/A</td>
            <td>
                <img src="{{imgUrl}}{{product.image}}" alt="iamge.png" width="200px">
            </td>
            <td *ngIf="!inputData">
                <button class="btn btn-info" routerLink="/product/edit/{{product._id}}">edit</button>
                <button class="btn btn-danger" (click)="remove(product._id,i)">delete</button>
            </td>
        </tr>
    </tbody>
</table>