<!-- router outlet is placeholder for every configured routing components -->

<div class="sidebar" *ngIf="isLoggedIn()">
    <a class="active" routerLink="/user/dashboard">Home</a>
    <a routerLink="/product/add">Add Product</a>
    <a routerLink="/product/view">View Product</a>
    <a routerLink="/product/search">Search Product</a>
    <a routerLink="/user/change-password">Change Password</a>
    <button class="btn btn-default" (click)="logout()">logout</button>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>