<h2>Reset Password</h2>
<p>Please enter your new password</p>
<form class="form-group" #form="ngForm">
    <label for="password">Password</label>
    <input class="form-control" type="password" placeholder="Password" [(ngModel)]="user.password" name="password"
        required #password="ngModel">
    <div class="danger" [hidden]="password.valid || password.pristine">
        required field*
    </div>
    <label for="cPassword">Confirm Password</label>
    <input class="form-control" type="cPassword" placeholder="Confirm Password" [(ngModel)]="user.cPassword" name="cPassword"
        required #cPassword="ngModel">
    <div class="danger" [hidden]="cPassword.valid || cPassword.pristine">
        required field*
    </div>
    <br>
    <button [disabled]="form.invalid" (click)="submit()" *ngIf="!submitting" class="btn btn-primary">submit</button>
    <button disabled *ngIf="submitting" class="btn btn-info">submitting...</button>
    <p>back to
        <a routerLink="/auth/login"> login</a>
    </p>
</form>