<h2>Forgot Password</h2>
<p>Please enter your registered email to reset your password</p>
<form class="form-group" #form="ngForm">
    <label for="emai">Email</label>
    <input class="form-control" type="text" name="email" id="email" placeholder="Email" [(ngModel)]="user.email"
        required email>
    <br>
    <button [disabled]="form.invalid" (click)="submit()" *ngIf="!submitting" class="btn btn-primary">submit</button>
    <button disabled *ngIf="submitting" class="btn btn-info">submitting...</button>
    <p>back to
        <a routerLink="/auth/login"> login</a>
    </p>
</form>