<div *ngIf="!results.length">
    <h2>Search Product</h2>
    <form class="form-group" #form="ngForm">
        <label for="category">category</label>

        <select class="form-control" name="category" id="category" [(ngModel)]="product.category"
            (change)="categoryChanged(product.category)" required>
            <option value="" disabled>(Select Category)</option>
            <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>

        </select>
        <div *ngIf="names.length">
            <label for="name">name</label>
            <select class="form-control" name="name" id="name" [(ngModel)]="product.name">
                <option value="" disabled>(Select Name)</option>
                <option *ngFor="let name of names" [value]="name.name">{{name.name}}</option>

            </select>
        </div>
        <label for="brand">brand</label>
        <input class="form-control" type="text" placeholder="brand" name="brand" [(ngModel)]="product.brand">

        <label for="color">color</label>
        <input class="form-control" type="text" placeholder="color" name="color" [(ngModel)]="product.color">
        <label for="price">price</label>
        <input class="form-control" type="text" placeholder="price" name="price" [(ngModel)]="product.price">
        <label for="model">model</label>
        <input class="form-control" type="text" placeholder="model" name="model" [(ngModel)]="product.model">
        <label for="weight">weight</label>
        <input class="form-control" type="text" placeholder="weight" name="weight" [(ngModel)]="product.weight">
        <label for="manuDate">Manu Date</label>
        <input class="form-control" type="text" placeholder="manuDate" name="manuDate" [(ngModel)]="product.manuDate">
        <label for="expiryDate">Expiry Date</label>
        <input class="form-control" type="text" placeholder="expiryDate" name="expiryDate"
            [(ngModel)]="product.expiryDate">
        <label for="tags">tags</label>
        <input class="form-control" type="text" placeholder="tags" name="tags" [(ngModel)]="product.tags">
        <br>
        <button [disabled]="!form.valid" *ngIf="!submitting" class="btn btn-primary" (click)="submit()">submit</button>
        <button disabled *ngIf="submitting" class="btn btn-info">submitting...</button>

    </form>
</div>
<div *ngIf="results.length">
    <app-list-product (again)="resetSearch()" [inputData]="results"></app-list-product>
</div>